.top_bar
  .navbar
    .navbar-inner
      .brand=link_to "Shop", root_url
      %ul.nav
        %li=link_to current_user.display_name, user_path(current_user)
        %li=link_to "Products", products_path
        %li=link_to "My cart", cart_path
        %li=link_to "Sales menu", sales_path if current_user.admin?
        %li=link_to "Users", users_path if current_user.admin?
        -if current_user.guest?
          %li.session_link=link_to "Log in", new_session_path 
        -else
          %li.session_link=link_to "Log out", session_path, method: :delete

