.top_bar.row
  .name.offset1.span2=current_user.display_name
  .session_link.span4
    -if current_user.guest?
      =link_to "Log in", new_session_path 
    -else
      =link_to "Log out", session_path, method: :delete

