.top_bar
  .navbar
    .navbar-inner
      .brand=link_to "Shop", root_url
      %ul.nav
        %li=link_to current_user_presenter.display_name, user_path(current_user)
        %li=link_to "Products", products_path
        %li=link_to "My cart", cart_path
        %li=link_to "Orders", orders_path
        = render 'menu/admin_menu' if current_user_presenter.admin?
      %ul.nav.pull-right
        -if current_user_presenter.guest?
          %li.session_link=link_to "Log in", new_session_path 
          %li.signup_link= link_to "Sign up", new_user_path
        -else
          %li.session_link=link_to "Log out", session_path, method: :delete

