=simple_form_for user, defaults: {required: true} do |form|
  =form.input :first_name   
  =form.input :last_name   
  =form.input :email   
  =form.input :password   
  =form.input :password_confirmation   
  =render partial: 'addresses/form', address: (user.address || user.build_address), locals: {form: form}
  =form.button :submit