=simple_form_for user, defaults: {required: true} do |form|
  .controls.controls-row
    .span5
      =form.input :first_name
      =form.input :last_name
  .controls.controls-row
    .span5
      =form.input :email
  .controls.controls-row
    .span5
      =form.input :password
      =form.input :password_confirmation
  =render partial: 'addresses/form', locals: {form: form, address: (user.address || user.build_address)}
  =form.button :submit, class: 'btn btn-primary'