%h3=@user.full_name

.orders
  -if @user.orders.empty?
    User has no orders
  -else
    =render partial: 'orders/short', collection: @user.orders, as: :order
.products
  -if @user.products.empty?
    User has no products in cart
  -else
    =render partial: 'products/short', collection: @user.products, as: :product