.user
  %h3=@user.full_name
  =link_to "Edit profile", edit_user_path(@user)
  .display_name="Display name: #{@user.display_name}"
  .email="Email: #{@user.email}"
  .address="Address: #{@user.address}"

  .orders_block
    %h3.order_text.btn.span12 Orders
    -if @user.orders
      .orders=render partial: 'orders/inline', collection: @user.orders, as: :order
    -else
      User has no orders
  .products_block
    %h3.cart_text.btn.span12 Cart
    -if @user.products.empty?
      User has no products in cart
    -else
      .cart=render partial: 'products/inline', collection: ProductPresenter.new_from_array(@user.products), as: :product