.user
  %h3=@user.full_name
  =link_to "Edit profile", edit_user_path(@user)
  .display_name="Display name: #{@user}"
  .email="Email: #{@user.email}"
  .address="Address: #{@user.address}"

  .orders_block
    -if @user.orders.empty?
      %h3.order_text.btn.span12 User has no orders
    -else
      %h3.order_text.btn.span12 Orders
      .orders=render @user.orders
  .products_block
    %h3.cart_text.btn.span12 Cart
    -if @user.products.empty?
      User has no products in cart
    -else
      .cart=render presentify(@user.products)