= form_for @order, html: {id: 'payment-form', method: :post} do |order|
  .payment-errors
  =render partial: 'addresses/form', address: (current_user.address || current_user.build_address), locals: {form: order}
  =fields_for 'transaction' do |f|
    =f.hidden_field 'card-amount-int', { class: 'card-amount-int', value: cart.total_price.cents.to_i}
    =f.hidden_field 'card-currency', {class: 'card-currency', value: cart.currency}
    .row
      .span6=f.label 'card-number', "Card number"
      .span6=f.label 'card-cvc', "CVC"
    .row
      .span6=f.text_field 'card-number', {placeholder: 4111111111111111}
      .span6=f.text_field 'card-cvc', {placeholder: 123}
    .row
      .span6=f.label 'card-expiry-month', "Expiry month"
      .span6=f.label 'card-expiry-year', "Expiry year"
    .row
      .span6=f.text_field :'card-expiry-month'
      .span6=f.text_field :'card-expiry-year'
    .row
      .span6=f.label 'card-holdername', "Holder name"
    .row
      .span6=f.text_field :'card-holdername', {value: current_user_presenter.full_name }
    = order.submit 'Buy', class: 'submit-button btn btn-primary span4'
=javascript_include_tag "pages/paymill"
