%h3 Previous orders
.orders
  .stats
    - Order.statuses.each do |key, status|
      .status
        = content_tag :div, class: status do
          = link_to status.capitalize, filter_orders_path({status: status})
          = Order.count_by_status(status)
  =render partial: 'orders/inline', collection: @orders, as: :order