Previous orders
.orders
  .stats
    .status
      - Order.statuses.each do |key, status|
        = content_tag :div, class: status do
          = link_to status.capitalize, filter_orders_path(status)
          = Order.count_by_status(status)
  =render partial: 'orders/short', collection: @orders, as: :order