%h3 Previous orders
.orders
  %h5.stats
    .status= link_to 'All orders', orders_path, remote: true
    - Order::STATUSES.each do |key, status|
      .status
        = content_tag :div, class: status do
          = link_to status.capitalize, filter_orders_path({status: status}), remote: true
          = Order.count_by_status(status)
  .orders=render partial: 'orders/inline', collection: @orders, as: :order