.order_new
  %h2 Order page
  .stats
    %h3.total= "Total for order: $#{current_user.cart.total_price}"
  .span12.form_order
    = render 'payment'
  .products
    = render partial: 'products/inline', collection: current_user.products_uniq, as: :product
=javascript_include_tag "pages/paymill"
