Order page
.stats
  .total= "Total for order: $#{current_user.cart.total}"
=link_to "Buy", create_orders_path
.products
  = render partial: 'categories/inline', collection: Category.all, as: :category