.order_new
  %h2 Order page
  .stats
    %h3.total= "Total for order: #{humanized_money_with_symbol @cart.total_price}"
  .span12.form_order
    = render partial: 'payment', locals: {cart: @cart}
  .products
= render @products