.heading
  = "#{current_user.display_name} cart"
.order_menu
  -if current_user.guest?
    "You need to log in to purchase products"
  -else
    .btn.btn-primary=link_to 'Order', new_order_path
.products
  =render partial: 'products/inline', collection: @products, as: :product
