.heading
	My cart
.products
	=render partial: 'products/short', collection: @products, as: :product
.order_menu
	-if current_user.guest?
		"You need to log in to purchase products"
	-else
		=link_to 'Order', orders_new_path