.cart.span12
  .heading.row
    %h3.span12= "#{current_user_presenter}'s' cart"
  .order_menu.row
    .span3= order_link(current_user_presenter)
    .span4
    %h4.span5= "Total for order: " + humanized_money_with_symbol( @cart.total_price)
  .span12.products.list
    =render 'products/table_header'
    =render presentify(current_user.products, current_user) unless @cart.empty?
    =#render presentify(@cart.products, current_user) unless @cart.empty?