.heading
  %h3= "#{current_user.display_name}'s' cart"
.order_menu
  -if current_user.guest?
    "You need to log in to purchase products"
  -else
    =link_to 'Order', new_order_path, class: 'btn btn-primary'
.products
  =render partial: 'products/inline', collection: @products, as: :product