= content_tag :fieldset do 
  =content_tag :legend do 
    Address
  =form.simple_fields_for :address do |addr|
    .controls.controls-row
      .span5
        =addr.label :country
        =addr.input_field :country
    .controls.controls-row
      .span3
        =addr.input :city
      .span2
        =addr.input :zip_code
    .controls.controls-row
      .span5
        =addr.input :street
    .controls.controls-row
      .span3
        =addr.input :house_nr
      .span2
        =addr.input :door_nr