@import 'formMixins';

.top_bar .span9{
  margin-left: 0;
}

.category.inline{
  margin: 1em 0;
  .name{
    margin: 0.2em;
    font-weight: bold;
    font: 1.2em;
  }
}

.message {

}
.new_category {
  .categories {
    .category {
      @include checkbox_area;
      .new_category_name {

      }
    }
  }
}
