body,html {
  height: 100%;
}

.container{
  min-height: 100%;
}


.span3.big_picture_frame{
  margin-left: 0;
}

.big_product_container{
  position: fixed;
  height: 100%;
  width: inherit;
  .big_product_image{
    min-height: 50em;
    position: relative;
    overflow: hidden;
    background-size: 300%;

    .image{
      min-height: 30em;
    }
    overflow: visible;
    .caption.title{

      $caption_margin: 0.3em;

      &#t0{
        top: 0.2em;
        left: $caption_margin + 0em;
      }

      &#t1{
        top: 1em;
        left: $caption_margin + 0.3em;
      };
      &#t2{
        top: 2em;
        left: $caption_margin -0.2em;
      };
      &#t3{
        top: 3em;
        left: $caption_margin + 0.3em;
      };
      &#t4{
        top: 4em;
        left: $caption_margin -0.1em;
      };
      color: red;
      position: absolute;
      font-size: 6em;
      line-height: 200%;
      font-weight: bold;
      overflow-wrap: none;
      word-wrap: none;
    }
  }
}

.footer{
  padding: 2em;
  height: 8em;
  background-color: blue;
  position: relative;
  bottom: 0;

  .some_link{
    margin-bottom: 0.5em;
  }
}
