.table_header{
  margin-bottom: 2em;
}
.product_full{
  .image{

  }
  .carousel{
    width: 30em;
    height: 30em;
  }
  .row{
    &.top_title{}
    &.buttons{margin: 1em 0;}
    &.overview{}
    &.categories{margin: 1em 0;}
    &.note_bar{}
    &.review_bar{}
    &.reviews{}

  }
}
.product{

  .btn{
    margin: 1em 0;
    a { color: white; }
  }

  &.product_full{ .btn{ margin: 0;}}


&.short{
  // border: 1px solid black;
  // padding: 0.5em;
  // height: 15em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0.5em;
  height: 37em;
  .row{
    // border-bottom: 1px solid gray;
  }
  .title{
    min-height: 3em;
  }
  .price.discount{
    font-weight: bold;
  }
  .remove{
    text-align: right;
  }

  .cart_btn{
   -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
       -ms-transition-duration: 1s;
        -o-transition-duration: 1s;
           transition-duration: 1s;
    &.many{height: 1em}
    &.single{
      height: 6em;
      // font-size: 1em;
      padding: 2em;
    }
  }
}

  .product_thumbnail{
   width: 100%;
   height: 100%;
   padding-top: 1em;
   padding-bottom: 1em;
   background-color: white;
   text-align: center;

   img{
    max-height: 14em;
    min-height: 14em;
   }

 }
}

.product.inline{
  .header{
    font-weight: bold;
    text-align: center;
  }
  .product{
    border-bottom: 1px solid gray;
    padding: 0.5em 0;
    .price{ text-align: center;}
.quantity{ text-align: center;}
.remove{ text-align: center;}
  }
  
}
@mixin product_form{
  input#product_title{
    width: 100%;
  }
  textarea#product_description{
    width: 100%;
  }
}
.new_product{
  @include product_form;
}

.edit_product{
  @include product_form;
}