.new_review{
  *{
    input#review_title{
      max-width: 100%;
    }
    input#review_note{
      max-width: 100%;
    }
    textarea#review_body{
      min-width: 100%;
      height: 6em;
    }
  }
}
.reviews{
  .review{
 margin: 0.25em 0;
 border-bottom: 1px solid #CCCCCC;
 padding-bottom: 0.6em;
    .reviewer_row{
      float: right;
      display: block;
      margin-bottom: 0.5em;
        text-align: right;
      .reviewer{
      }
      .date{
      }
    }
   
    .title_row{
      margin: 1.5em 0;
      .title{
      font-size: 1.4em;

      }
    }
  }
}
