= simple_form_for @product_category do |f|
  = f.button :submit, "Join"
  .row
    .span1
    .span6= f.input :product, as: :check_boxes, collection: Product.all
    .span5= f.input :category, as: :check_boxes, collection: Category.all