= simple_form_for @product_category do |f|
  = f.input :product, as: :check_boxes, collection: Product.all
  = f.input :category, as: :check_boxes, collection: Category.all
  = f.button :submit, "Join"