.paginate= paginate @products, remote: true
.products.span12
  =render partial: 'products/short', collection: presentify(@products), as: :product
.paginate= paginate @products, remote: true
- content_for(:category_bar) do
  =render 'menu/categories'