.new_review
  %h4 Review
  =simple_form_for [product, review], defaults: { label: false} do |f|
    .row
      .span6
        = f.input :title, placeholder: 'Title'
      .span1
        .note= f.input :note, placeholder: "Note"
    .row
      .span7
        = f.input :body, placeholder: "Your opinion doesn't matter to us"
    .row
      .span2
        = f.button :submit, "Send review"